.CalculateRateBox {
  margin-top: 20px;
  border: 2px solid #000;
}
.tabs {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}
.tab {
  font-size: 1em;
  padding: 0 7px;
  border-right: 2px solid #000;
  border-left: none;
  border-bottom: 2px solid #000;
  cursor: pointer;
}
.tab:last-child {
  border-right: none;
}
.tab.active {
  border-bottom: none;
}
.tabsInfo {
  margin-top: 20px;
  margin-left: 30px;
  text-align: left;
}
.countryRate {
  font-size: 18px;
  font-weight: 600;
  line-height: 2;
}
.rateLiveDate {
  line-height: 1.3;
}
